<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
    <!-- Compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  </head>
  <body>
    <div id = "content">
      <header>
        <div id= "title">
          <span id="neo">NEO</span><span id="tracker">TRACKER</span>
        </div>
        <div id = "links">
          <a href="/">home</a>
          <a href="/members">members</a>
          <a href="/neomail">neomail</a>
        </div>
        <div id = "user">
          welcome <b><%= name.toLowerCase() %></b> <a href="/logout">(logout)</a>
        </div>
      </header>
      <% if(typeof error !== 'undefined'){ %>
        <div class="alert alert-warning">
          <strong>Error: </strong> <%= error %>
        </div>
      <% } %>

      <div id = "stats">
        <h1>Yesterday's Stats</h1>
        <div class="row">
          <div class="col">
            <span class="number"><%= yesterday.posts %></span>
            <p>posts made</p>
          </div>
          <div class="col">
            <span class="number"><%= yesterday.users.length %></span>
            <p>users posted</p>
          </div>
          <div class="col">
            <span class="number"><%= yesterday.newMembers.length %></span>
            <p>new members joined</p>
          </div>
        </div>
      </div>

      <div id="members">
        <h1>Stats</h1>
        <p style="float:left;">filter for</p>

        <div class="dropdown">
          <div class="arrow-down"></div>
          <button class="dropbtn">a week</button>
          <div class="dropdown-content">
            <% for (var i = 0; i < weeks.length; i++) { %>
              <a href="#" class="week" id=<%= weeks[i] %>><%= weeks[i] %></a>
            <% } %>
          </div>
        </div>



        <canvas id="graph" width="300" height="100"></canvas>
      </div>




    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script>
       var dailyPosts = <%- JSON.stringify(posts) %>;
       var theWeeks = <%- JSON.stringify(weeks) %>;
       var theDays = [];
       var thePosts = [];
       var myChart;
       var ctx = $("#graph");

       function createChart(data) {
           if (myChart) {
             myChart.destroy();

           }
           myChart = new Chart(ctx, {
             type: 'bar',
             data: {
              labels: theDays,
              datasets: [{
                  label: '# of Posts',
                  data: data,
                  backgroundColor: 'rgba(226, 181, 28, 0.2)',
                  borderColor: 'rgba(226, 181, 28,1)',
                  borderWidth: 1
              }]
            },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
       }

       $(".week").on("click", function(){
           if (theDays.length > 0) {
             theDays = [];
             thePosts = [];
           }

           var label = moment($(this)[0].id).format('YYYY-MM-DD') + " to " +  moment($(this)[0].id).add(6, 'day').format('YYYY-MM-DD');

           $('button.dropbtn').text(label);
           for (i=0; i<7; i++) {
             var day = moment($(this)[0].id).add(i, 'day').format('YYYY-MM-DD');
             var dayAfter = moment(day).add(1, 'day').format('YYYY-MM-DD');
             theDays.push(moment($(this)[0].id).add(i, 'day').format('YYYY-MM-DD'));
             if (isNaN(dailyPosts[dayAfter] - dailyPosts[day])) {
                 thePosts.push(0);
             } else {
               // console.log(day + " - " + dailyPosts[day]);
               // console.log(dayAfter + " - " + dailyPosts[dayAfter]);
               thePosts.push(dailyPosts[dayAfter] - dailyPosts[day]);
             }
           }

          createChart(thePosts);
       });

    </script>
  </body>

</html>
