<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>neotracker</title>
    <meta name="description" content="an analytical site to track a neopets guild">
    <meta name="author" content="michelle">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/LVias9C.png"/>
    <!-- Compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  </head>
  <body>
    <div id = "content">
      <header>
        <div id= "title">
          <span id="neo">NEO</span><span id="tracker">TRACKER</span>
        </div>
        <div id = "links">
          <a href="/">home</a>
          <a href="/members">members</a>
          <a href="/neomail">neomail</a>
        </div>
        <div id = "user">
          welcome <b><%= name.toLowerCase() %></b> <a href="/logout">(logout)</a>
        </div>
      </header>
            <h1>Member Stats</h1>
            <p>last updated <%= dates[1] %></p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">username</th>
                  <th scope="col">message count since <%= dates[0] %></th>
                  <th scope="col">message count since <%= dates[1] %></th>
                  <th scope="col">difference</th>
                </tr>
              </thead>
              <tbody>
                <% for (user in username) { %>
                  <tr>
                    <th scope="row"><%= username[user] %></th>
                    <td><%= info[dates[0]][username[user]] %></td>
                    <td><%= info[dates[1]][username[user]] %></td>
                    <td><%= info[dates[1]][username[user]] - info[dates[0]][username[user]] %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>

    </body>
</html>
