<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="">
    <!-- Compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <style>
      .hidden {
        display: none;
      }

      .info {
        background-color: #e2b51c;
        position:absolute;
      }
    </style>
  </head>
  <body>
    <div id = "content">
      <header>
        <div id= "title">
          <span id="neo">NEO</span><span id="tracker">TRACKER</span>
        </div>
        <div id = "links">
          <a href="/">home</a>
          <a href="/members">members</a>
          <a href="/neomail">neomail</a>
        </div>
        <div id = "user">
          welcome user <a href="/logout">(logout)</a>
        </div>
      </header>

      <h1>Neomail <a href="/neomail">Sent</a><a href="/create-neomail">Create</a></h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">sent</th>
            <th scope="col">when</th>
            <th scope="col">by</th>
          </tr>
        </thead>
        <tbody>

          <% for (key in neomails) { %>
            <% for (hello in neomails[key]) { %>
              <tr>
                <th scope="row"><span class="post" id = "<%= neomails[key][hello].id%>"><%= neomails[key][hello].title %></span></th>
                <td><%= key %></td>
                <td><%= neomails[key][hello].sender %></td>

              <div id="post_<%= neomails[key][hello].id%>" class="hidden info">
                <%= neomails[key][hello].title %>
                <%= neomails[key][hello].content %>
                <%= neomails[key][hello].recipients %>
              </div>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>


    </div>
    </body>
    <script>
    $('.post').click(function(){
      var id = $(this).attr('id');
      var info_name = "#post_"+id;
      $(info_name).toggleClass('hidden');
    })

    </script>
  </html>
